.container {
  flex:1;
  padding: 0px 20px;
}
.btn {
  font-weight: bold;
  /* font-family: "Roboto-bold"; */
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
.map_div {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
}

.chevron_style {
  margin-bottom: 2px;
}
.split_view_container {
  display: flex;
  height: 100vh; /* Full height */
}

.split_view_master {
  width: 50%; /* Adjust this percentage for master view width */
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow: auto;
  scrollbar-width: none; /* Firefox 64 and later */
}

.split_view_detail {
  width: 50%; /* Adjust this percentage for detail view width */
  padding: 20px;
  overflow: auto;
  scrollbar-width: none; /* Firefox 64 and later */
}
.split_view_master::-webkit-scrollbar,
.split_view_detail::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}