.container{
    flex:1;
    padding: 0px 20px;
    }
    
    .map_container{
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 0.5s ease, opacity 0.5s ease,  visibility 0.5s ease;
      visibility: hidden;
    
    }
    
    .map_container.show{
      visibility: visible;
      height: 50vh;
      opacity: 1;
    }
    
    .map_dropdown  {
      overflow: hidden;
      transition: height 0.5s ease, opacity 0.5s ease;
      opacity: 1;
    }
    
    .map_dropdown_btn {
        color: white;
        border-color: var(--primary);
        background-color: var(--primary);
        margin-top: 20px;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        transition: all .2s ease-in-out;
    }
    
    .map_dropdown_btn span {
        font-weight: 500;
    }
    
    .map_dropdown_btn:hover {
        color: white;
        border-color: var(--primaryHover);
        background-color: var(--primaryHover);
    
    } 

    .map_div{
      width: 100%;
      height: 100%;
      position: relative;
    }
    
    
    .cancle_sorting{
      margin: 0px;
      padding: 0px;
    
    }
    
     
    