.js_popup{background: transparent; -webkit-box-shadow: none; box-shadow: none; overflow: visible; top: 20px;}
.js_popup_border{position: relative; }
.marker_image{
  position: absolute;
  width: 82px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  overflow: hidden;
  border-radius: 50%;
  top:-141px;
  background-color: rgb(45 50 66);
}

.marker_image_img{
  width: auto;
  height: auto;
  max-width: 100% !important;
  max-height: 100%;
  position: absolute;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  left: 50%;
  top: 50%;
  mask-image: url(/public/icon_photo_mask.png);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, -50%);
  -webkit-mask-image: url(/public/icon_photo_mask.png);
  mask-image: unset;
  mask-position: unset;
  mask-repeat: unset;
  mask-size: unset;
  -webkit-mask-image: unset;
  -webkit-mask-position: unset;
  -webkit-mask-size: unset;
  -webkit-mask-repeat: unset;
  border-radius: unset;
}
.marker_border{width: 84px; position: absolute;top:-141px;}
.marker_border_web{display: block !important;}
.marker_border_pdf{display: block !important; width: 84px; position: absolute;}
.js_azimuth{max-width: 100px; height: 100px; top: -50px; left: -9px; position:absolute; }
.azimuth{width: 100px;}