.container{
    padding: 0px 20px;
    }
.btn{
    font-weight: bold;
    /* font-family: "Roboto-bold"; */
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}    
.chevron_style{
    margin-bottom: 2px;
}    