.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 20px;
}
/* Global Styles */
.split_view_container {
  display: flex;
  height: 100vh; /* Full height */
}

.split_view_master {
  width: 50%; /* Adjust this percentage for master view width */
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow: auto;
  scrollbar-width: none; /* Firefox 64 and later */
}

.split_view_detail {
  width: 50%; /* Adjust this percentage for detail view width */
  padding: 20px;
  overflow: auto;
  scrollbar-width: none; /* Firefox 64 and later */
}
.split_view_master::-webkit-scrollbar,
.split_view_detail::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.table {
  color: var(--dark);
}

.table td {
  padding: 5px 0px;
}

