

.container {
    margin: 0;
    background-color: #32ade6;
    display: flex;
    padding: 8px 10px ;
}

.nav
{
    margin: 0;
    padding: 0;
    flex: 1;
}

.nav_container {
    flex:1;
    justify-content: space-between;
}
  .toggler_custom:focus,
  .toggler_custom:active {
    outline: none;
    box-shadow: none;
    border: none;

  }
  .toggler_custom {
    border: none;
    outline: none;
  }

 .custom_me_auto {
    align-items: flex-end;
}
.user_text
{
    align-self: center;
}
@media (max-width:767px) {  
    /* Adjust the max-width value to target the desired breakpoint */
    .user_text
    {
        align-self: flex-end;
    }
  }


.separator{
    font-size: 12px;
    align-self: center;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 767px) {  /* Adjust the max-width value to target the desired breakpoint */
    .separator {
      display: none; /* Hide the separator on mobile devices */
    }
  }
.menu
{
display: flex;
}
.change_password{

}
.language{

}
.user{

}
.logout{
  margin-right: .25rem;
  vertical-align: sub;
}
.link{
  color:white;
  font-weight: 500;
}
.link:hover{
  color:var(--lightHover);
}
.text{
    padding: 0 5px;
    color: white;
}