.mapboxgl-ctrl-group {
  display: flex;
  flex-direction: row; /* Set buttons to appear horizontally */
  background-color: rgb(241, 240, 240);
}

.button {
  padding: 10px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  position: relative; /* Required for the pseudo-element */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* .button:hover {
  background-color: #0056b3;
} */
